/* 
Style directions
    1. General styling
    2. Div styling
    3. Button styling
    4. Img style
    5. Modal
    6. Media
*/

/* Background */
* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas+Neue' sans-serif;
}
body {
  height: 100%;
  background-color: rgb(58, 56, 56);
}
/* 1. General styling */

/* Grid */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 1fr;
  grid-template-areas:
    'home active-window active-window'
    'library active-window active-window'
    'library active-window active-window'
    'music-player music-player music-player';
  grid-gap: 20px;
}
#home {
  grid-area: home;
  display: flex;
  justify-content: center;
  align-items: center;
}
#library {
  grid-area: library;
  height: 55vh;
}
#active-window {
  grid-area: active-window;
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#music-player {
  grid-area: music-player;
}

#trackInfo {
  background-color: rgba(0, 0, 0, 0.712);
  border: 6px solid rgba(0, 0, 0, 0.733);
  box-shadow: 1px 5px rgba(0, 0, 0, 0.733);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Authorize-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
}

/* end of grid */

/* end of general styling */

/* Font styling */
h2 {
  color: rgb(18, 100, 36);
  margin: 1vh 1vh 1vh 1vh;
  /* text-shadow: 4px 4px 4px #000; */
  text-transform: uppercase;
  font: bold;
  font-size: 2vh;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.h2-auto {
  color: rgb(0, 0, 0);
  margin: 1vh 1vh 1vh 1vh;
  /* text-shadow: 4px 4px 4px #000; */
  text-transform: uppercase;
  font: bold;
  font-size: 2vh;
  text-shadow: none;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rokkitt:ital,wght@0,300;0,400;1,900&display=swap');
/* end of font styling */

/* 2. Div styling */
.box {
  background-color: rgba(29, 29, 29, 0.774);
  text-align: center;
  border-radius: 15px;
  height: 100%;
  border: 5px solid black;
  box-shadow: 5px 5px black;
}
/* end of div styling */

/* 3. Button styling */
.home-button,
.search-button {
  background-color: rgb(18, 100, 36);
  border-radius: 15px;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  max-width: 90%;
}
.home-button:hover,
.search-button:hover {
  background-color: rgba(153, 205, 50, 0.671);
  transition: background 1.3s ease;
}
.search-button {
  width: 20vh;
  height: 10vh;
}
.authorize-button {
  background-color: green;
  border: none;
  height: 10vh;
  width: 30vh;
  border: 10px solid black;
  box-shadow: 10px 10px black;
  border-radius: 20px;
}
.authorize-button:hover {
  background-color: rgba(153, 205, 50, 0.671);

  border-radius: 20px;
  transition: background 1s ease;
}

audio {
  margin-top: 5vh;
  border-radius: 15px;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  width: 80vh;
  background-color: rgb(18, 100, 36);
}
/* End of button styling */

/* 4. Img style */
.img-buttons {
  width: 10vh;
  height: 10vh;
  border-radius: 15px;
}
.img-album {
  width: 50vh;
  height: 50vh;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  opacity: 100%;
  border: 5px solid rgba(0, 0, 0, 0.733);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.733);
}

/* end of Img style */

/* 5. Input style */
input {
  border: 5px solid black;
  border-radius: 15px;
  height: 4vh;
  width: 17vh;
  font-size: large;
  font-style: bold;
  box-shadow: 5px 5px black;
  max-width: 95%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
/* end of Input style */
