/* 
Style directions
    1. General styling
    2. Div styling
    3. Button styling
    4. Img style
    5. Modal
    6. Media
    7. Tracklist
*/

/* Background */
* {
  font-family: 'Anton', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rokkitt:ital,wght@0,300;0,400;1,900&display=swap');
body {
  background-color: rgb(58, 56, 56);
}
/* 1. General styling */

/* Grid */
.wrapper {
  height: 95vh;
  margin-top: 2.5vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 1fr;
  grid-template-areas:
    'home active-window active-window'
    'library active-window active-window'
    'library active-window active-window'
    'music-player music-player music-player';
  grid-gap: 20px;
}
#home {
  grid-area: home;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#library {
  grid-area: library;
}
#active-window {
  grid-area: active-window;
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#music-player {
  grid-area: music-player;
  display: flex;
  align-items: center;
  justify-content: center;
}

#trackInfo {
  background-color: rgba(0, 0, 0, 0.575);
  padding: 0px 30px;
  border-radius: 15px;
  position: relative;
}

.Authorize-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

/* end of grid */

/* end of general styling */

/* Font styling */
h2 {
  color: rgba(153, 205, 50, 0.671);
  text-transform: uppercase;
  font: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.h2-auto {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font: bold;
  font-size: 2vh;
  text-shadow: none;
}

/* end of font styling */

/* 2. Div styling */
.box {
  background-color: rgba(29, 29, 29, 0.774);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  height: 100%;
  border: 5px solid black;
  box-shadow: 5px 5px black;
}
/* end of div styling */

/* 3. Button styling */
.home-button,
.search-button {
  background-color: rgb(18, 100, 36);
  border-radius: 15px;
  border: 5px solid black;
  width: 18vh;
  box-shadow: 5px 5px black;
  transition: background-color 1s ease;
  margin-top: 30px;
}
.home-button:hover,
.search-button:hover {
  background-color: rgba(153, 205, 50, 0.671);
}
.search-button {
  width: 20vh;
  height: 10vh;
}
.authorize-button {
  background-color: green;
  border: none;
  height: 10vh;
  width: 30vh;
  border: 10px solid black;
  box-shadow: 10px 10px black;
  border-radius: 20px;
}
.authorize-button:hover {
  background-color: rgba(153, 205, 50, 0.671);

  border-radius: 20px;
  transition: background-color 1s ease;
}

audio {
  border-radius: 15px;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  width: 80%;
  margin-top: 20px;
  background-color: rgb(12, 223, 58);
  transition: background-color 1s ease;
}
audio:hover {
  background-color: rgba(153, 205, 50, 0.671);
}
/* End of button styling */

/* 4. Img style */
.img-buttons {
  width: 10vh;
  height: 10vh;
  border-radius: 15px;
}
.img-album {
  width: 50vh;
  height: 50vh;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  opacity: 100%;
  border: 5px solid rgba(0, 0, 0, 0.733);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.733);
}

/* end of Img style */

/* 5. Input style */
input {
  border: 5px solid black;
  border-radius: 15px;
  height: 4vh;
  width: 19vh;
  font-size: large;
  font-style: bold;
  box-shadow: 5px 5px black;

  background-color: white;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
/* end of Input style */

/* 6. Media */
@media only screen and (max-width: 430px) {
  .gridarea {
    height: 100%;
    display: grid;
    grid-template-areas:
      'home library'
      'active-window active-window'
      'music-player music-player';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .img-album {
    width: 20vh;
  }
  h2 {
    font-size: large;
  }
  #track-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* 7. Tracklist */
#trackInfo-history {
  background-color: rgba(0, 0, 0, 0.575);
  padding: 0px 30px;
  border-radius: 15px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  width: 50vh;
  text-transform: uppercase;
  color: white;
}
#li-button {
  width: 2vh;
  height: 2vh;
  background-color: white;
  margin-left: 5vh;
  margin-bottom: 3vh;
  border-radius: 10px;
  border-color: black;
}
#list-h2 {
  font-size: 2vh;
}
#li-img {
  margin-right: 2vh;
  border-radius: 25px;
  height: 65px;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 5vh;
}
ul li {
  border-bottom: 1px solid #282828;
  border-radius: 15px;
  padding: 10px 0;
  transition: background-color 1s ease;
}
ul li:hover,
ul li a:hover {
  background-color: #1db954;
}
ul li a:before {
  content: '\1F3B5';
  margin-right: 10px;
}
ul li.active {
  background-color: #1db954;
}
/* End of tracklist */
